body{
    background-image: url(gameBackgraund.JPG) ;
    background-size: cover;
    min-height: 100vh;
  }
  

  .button-n1 {
    position: absolute;
    top:40%;
    left:40%;
  }

  .button-n2 {
    position: absolute;
    top:40%;
    left: 40%;
  }

  .button-n3 {
    position: absolute;
    top:40%;
    left:40%;
    
  }





